.root {
  --Rud: rgb(255, 51, 15);
}

.mdi {
  width: 35em;

}

.maple {
  height: 65vh;

}

.syrupy {
  background-image: url("https://images.unsplash.com/photo-1635515325165-6c4f985aa96c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1454&q=80");
  background-size: cover;
  height: 20em;
}

.pine {
  height: 10em;
  width: 10em;
  background-image: url(https://images.unsplash.com/photo-1610570467351-ccbd50a96fe2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBpbmV8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  color: var(--Rud);
}

.office {
  height: 10em;
  width: 10em;
  background-image: url(https://images.unsplash.com/photo-1571126770037-2945244eea9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fG9mZmljZXxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60);
  color: var(--Rud);
}

.expertise {
  height: 10em;
  width: 10em;
  background-image: url(https://images.unsplash.com/photo-1544967082-d9d25d867d66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJhY2tncm91bmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  color: var(--Rud);
}