.mdi {
  width: 35em;

}

.maple {
  height: 65vh;

}

.syrupy {
  background-image: url("https://images.unsplash.com/photo-1491798456967-0f20aa2b60f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80");
  background-size: cover;
  height: 20vh;


}